<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-3peic20OBS+kS9351sQOOO1LJYgA7iQkz8mjQQIGqCWy+rkEEOGIIIgQrVqL88+X" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>List of current language bodies</h1>
			<p class="lead">
				<a class="btn btn-warning btn-lg" href="/templates/">Back to templates selector</a>
			</p>
		</div>

		<% groupedResources.forEach(function(bodyLang) { %>
			<div class="card-deck">
				<div class="card mb-3">
					<div class="card-header"><%= bodyLang.key %></div>
					<div class="card-body">
						<div class="card-deck">
							<% bodyLang.values.forEach(function(bodyLevel) { %>
								<div class="card mb-3" style="max-width: 20rem;">
									<div class="card-header"><%= bodyLevel.key %></div>
									<ul class="list-group list-group-flush">
										<% bodyLevel.values.forEach(function(bodyTemplate) { %>
											<li class="list-group-item"><a href="/templates/bodies/<%= bodyTemplate.name %>"><%= bodyTemplate.name %></a></li>
										<% }); %>
									</ul>
								</div>
							<% }); %>
						</div>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</body>
</html>
