<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-J01jr7rrJqxij+hUE1E+8N35mlD7L/TMrAO7tOarwMP7AWJM3P/lGXOjt0KLNhtE" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Info about this resource</h1>
		</div>
		<div class="row">
			<div class="col-sm">
				<form>
					<div class="form-group">
						<label for="resourceNumber">Resource Number</label>
						<input type="text" class="form-control" id="resourceNumber" name="resource['resource-number']" value="<%= resource["resource-number"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceLanguage">Language</label>
						<input type="text" class="form-control" id="resourceLanguage" name="resource['language']" value="<%= resource["language"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceLevel">Level</label>
						<input type="text" class="form-control" id="resourceLevel" name="resource['level']" value="<%= resource["level"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceMediaCost">Media Cost</label>
						<input type="text" class="form-control" id="resourceMediaCost" name="resource['media-cost']" value="<%= resource["media-cost"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceMediaCostDesc">Media Cost Desc</label>
						<input type="text" class="form-control" id="resourceMediaCostDesc" name="resource['media-cost-desc']" value="<%= resource["media-cost-desc"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceMediaType">Media Type</label>
						<input type="text" class="form-control" id="resourceMediaType" name="resource['media-type']" value="<%= resource["media-type"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceMediaIcon">Media Icon</label>
						<input type="text" class="form-control" id="resourceMediaIcon" name="resource['media-icon']" value="<%= resource["media-icon"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceMediaLink">Media Link</label>
						<input type="text" class="form-control" id="resourceMediaLink" name="resource['media-link']" value="<%= resource["media-link"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceMediaDesc">Description</label>
						<input type="text" class="form-control" id="resourceMediaDesc" name="resource['media-desc']" value="<%= resource["media-desc"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceCommunityRating">Community Rating</label>
						<input type="text" class="form-control" id="resourceCommunityRating" name="resource['community-rating']" value="<%= resource["community-rating"] %>" />
					</div>
					<div class="form-group">
						<label for="resourceName">File Name</label>
						<input type="text" class="form-control" id="resourceName" name="resource['name']" value="<%= resource["name"] %>" />
					</div>
				</form>
			</div>
			<div class="col-sm">
				<p>this is the result</p>
			</div>
		</div>
	</div>


	<div class="w-50 form">
		<p>this is the form</p>
	</div>
	<div class="w-50 result">
		<p>this is the result</p>
	</div>
	<h2><span class="capitalize"><%= resource.language %></span>, <span class="capitalize"><%= resource.level %></span></h2>
	<ul>
		<li>Cost: <%= resource["media-cost-desc"] %><%= resource["media-cost-desc"] === "FREE" ? '' : ' ('+resource["media-cost"]+')' %></li>
		<li>Media icon: <span class="emoji"><%= resource["media-icon"] %></span></li>
		<li>Link: <span class="link"><%= resource["media-link"] %></span></li>
		<li>Description: <span class="description"><%= resource["media-desc"] %></span></li>
		<li>Community rating: <span class="emoji"><%= resource["community-rating"] %></span></li>
	</ul>

	<p><a href="/resources/">Back</a></p>

	<script type="text/javascript">
		/* jshint esversion: 6 */
		const emoji_map = {
			":heavy_plus:": "\u2795",
			":cinema:": "\uD83C\uDFA6",
			":books:": "\uD83D\uDCDA",
			":link:": "\uD83D\uDD17",
			":school_satchel:": "\uD83C\uDF92",
			":star:": "\u2B50",
			":white_check_mark:": "\u2705",
			":question:": "\u2753",
		};
		const capitalize = Array.from(document.querySelectorAll('.capitalize'));
		capitalize.forEach(word => {
			word.innerText = word.innerText.charAt(0).toUpperCase() + word.innerText.slice(1);
		});
		const emojis = Array.from(document.querySelectorAll('.emoji'));
		emojis.forEach(emoji => {
			emoji.innerText = emoji_map[emoji.innerText];
		});
		const links = Array.from(document.querySelectorAll('.link'));
		links.forEach(link => {
			link.innerHTML = link.innerText.replace(/<([^|]*?)\|(.*?)>/g, "<a href=\"$1\">$2</a>");
		});
		const descriptions = Array.from(document.querySelectorAll('.description'));
		descriptions.forEach(description => {
			description.innerHTML = description.innerText.replace(/\*(.*?)\*/g, "<b>$1</b>")
															.replace(/\_(.*?)\_/g, "<em>$1</em>");
		});
	</script>

</body>
</html>
