<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-3peic20OBS+kS9351sQOOO1LJYgA7iQkz8mjQQIGqCWy+rkEEOGIIIgQrVqL88+X" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>List of current resources</h1>
			<p class="lead">
				<a class="btn btn-warning btn-lg" href="/templates/">Back to templates selector</a>
			</p>
		</div>

		<% groupedResources.forEach(function(resourceLang) { %>
			<div class="card-deck">
				<div class="card mb-3">
					<div class="card-header"><%= resourceLang.key %></div>
					<div class="card-body">
						<div class="card-deck">
							<% resourceLang.values.forEach(function(resourceLevel) { %>
								<div class="card mb-3" style="max-width: 20rem;">
									<div class="card-header"><%= resourceLevel.key %></div>
									<ul class="list-group list-group-flush">
										<% resourceLevel.values.forEach(function(resource) { %>
											<li class="list-group-item"><a href="/templates/resources/<%= resource.name %>"><%= resource.name %></a></li>
										<% }); %>
									</ul>
								</div>
							<% }); %>
						</div>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</body>
</html>
